@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--font-sans: var(--font-main);
}

@theme {
	--color-subtitle: #342977;
}

html {
	font-size: 13px;
}

:root {
	--background: linear-gradient(130deg, #0f0823, #150b2e);
}

.bg-main {
	background: var(--background);
}

a:after {
	content: "";
	background-size: 100% 100%;
	display: inline-block;
	height: 11px;
	width: 11px;
	position: relative;
	top: 2px;
	margin-left: 1px;
}

a.dark:after {
	background-image: url("/images/link-dark.svg");
}

a.light:after {
	background-image: url("/images/link-light.svg");
}

p {
	margin-bottom: 0.25rem;
}

.thin-underline {
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
}
